<!DOCTYPE html>
<html lang="en">
<head>
    <title>FundMe</title>
</head>
<body>
    {% load static %}  
{% comment %} <script src="./index.js" type="module"> {% endcomment %}
    <script src="{% static 'js/index.js' %}" type="module">  
</script>
<button id="connectButton">Connect 
    <button id="fund">fund</button>
<label for="fund">ethAmount</label>
<input type="text" id="ethAmount" placeholder="0.1">
<button id="getBalance">get Balance</button>
<button id="withdraw">withdraw</button>
<button id="getowner">getowner</button>
</button>
</body>
</html>