<!DOCTYPE html>
<html lang="en">
    {% load static %}  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <!-- <script src="{% static 'js/index.js' %}" type="module"> </script> -->
    <script src="{% static 'js/index.js' %}" type="module">  
    </script>
    <!-- <script src="./index.js" type="module">
    </script> -->
</head>
<style>
    body{
        background-image: url("{% static 'images/background_transaction.avif' %}");
    }
</style>


<body>
   
    <div class='header'>
        <div class='header_logo_image'>
            <img class='ImageLogo' src="{% static 'images/logo.png' %}"></img>
        </div>
        <div class='header_links' id="connectButton">Connect Wallet</div>
        <div class='header_links' id="transaction">Transactions</div>
        <div class='header_links' id="getBalance">Get Balance</div>
        <div class='header_links' id="withdraw">Withdraw</div>
      </div>
      <div class='Description'>
        <div class='Left-Description'>
            <img class='TitleLogo' src="{%static 'images/coins.jpeg'%}"></img>
        </div>
        <div class='Right-Description'>
            <div class="content-slider">
                <div class="slider">
                  <div class="mask">
                    <ul>
                      <li class="anim1">
                        <div class="quote">Say goodbye to cash and manual transactions with our blockchain-based toll tax collection system, which offers a more convenient and seamless experience for drivers.</div>
                       
                      </li>
                      <li class="anim2">
                        <div class="quote">With our toll tax collection system, you can help reduce traffic congestion and air pollution by eliminating the need for long wait times and carbon-emitting vehicles at toll plazas.</div>
                        
                      </li>
                      <li class="anim3">
                        <div class="quote">By automating transactions and removing intermediaries, our blockchain technology makes toll tax collection more efficient and cost-effective for everyone involved.</div>
                      </li>
                      <li class="anim4">
                        <div class="quote">Our blockchain-based toll tax collection system offers a secure, transparent, and accountable solution to improve the toll collection process.</div>
                      </li>
                      <li class="anim5">
                        <div class="quote">Our toll tax collection system leverages the security and efficiency of blockchain technology to offer a sustainable, eco-friendly solution for toll collection, paving the way for a smarter transportation future.</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <input class='ethinput' type="text" id="ethAmount" placeholder="0.1">
    <div class='header_links inputbutton' id="fund" >Pay toll</div>
   
   
    
</body>

</html>